div {
    float: left;
    border: 2px solid green;
    width: 30vh;
    height: 80vh;
}

input {
    width: 75%;
}

button {
    width: 20%;
}

ul {
    border: 2px solid gray;
    padding: 0px;
    height: 75%;
}

li {
    list-style-type: none;
    border: 2px solid black;
    width: 99%;
    text-align: left;
}

span {
    border: 1px solid black;
    float: right;
    width: 10%;
    padding: 0px 5px;
    margin: -1px 0px;
    background-color: red;
    cursor: pointer;
}